@import '../../assets/sass/main.scss';

.sidebar-wrapper {
    background-color: rgb(1, 7, 47);
    color: #fff;
    height: 100vh;

    .sidebar {
        
        .header {
            padding: 1rem;
        }

        .navigation {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    gap: 0.6rem;
                    align-items: center;
                    cursor: pointer;
                    padding: 1rem;

                    i {
                        font-size: 1.8rem;
                    }
                }

                .active {
                    background-color: rgb(0, 0, 0);
                }
            }
        }
    }
}
