@import '../../assets/sass/main.scss';

.login-form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-wrapper {
        display: flex;
        flex-direction: column;
    }
}
